<mat-sidenav-container class="sidenav-container">
    <!-- sidenavigate -->
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]=" 'over'" style="background-color: #FFFFFF; width: 300px;">
        <!-- <mat-toolbar>Menu</mat-toolbar> -->
        <mat-nav-list>
            <div mat-list-item fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="5px">
                <app-avatar-photo [size]="2" [name]="user_info.username"></app-avatar-photo>

                <div style="font-size: 18px;">
                    {{user_info.name}}
                </div>
                <div style="font-size: 13px;">
                    {{user_info.email}}
                </div>
            </div>

            <mat-card-content class="divider">
                <mat-divider></mat-divider>
            </mat-card-content>
            <div>
                <a mat-list-item routerLink='/dashboard' [class.disabled]="true" (click)="drawer.toggle()" routerLinkActive="active">
                    <mat-icon>dashboard</mat-icon> {{"menu.dashboard" | translate}}
                </a>
                <a mat-list-item routerLink='/meter' (click)="drawer.toggle()" routerLinkActive="active">
                    <img src="assets/icons/meter.svg" width="24"> {{"menu.meter" | translate}}
                </a>
                <a mat-list-item routerLink='/tenant' [class.disabled]="true" (click)="drawer.toggle()" routerLinkActive="active">
                    <img src="assets/icons/tenant.svg" width="24"> {{"menu.tenant" | translate}}
                </a>
                <a mat-list-item routerLink='/leases' [class.disabled]="true" (click)="drawer.toggle()" routerLinkActive="active">
                    <img src="assets/icons/Leases.svg" width="24"> {{"menu.leases" | translate}}
                </a>
                <a mat-list-item routerLink='/graph' [class.disabled]="true" (click)="drawer.toggle()" routerLinkActive="active">
                    <mat-icon>timeline</mat-icon>{{"menu.graph" | translate}}
                </a>


                <a mat-list-item [class.disabled]="true" class="parent">
                <!-- <a mat-list-item [class.disabled]="true" (click)="showSubmenu = !showSubmenu" class="parent"> -->
                    <img src="assets/icons/setting_menu.svg">
                    <span class="full-width" *ngIf="isExpanded || isShowing">{{"menu.setting" | translate}}</span>
                    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
                        expand_more</mat-icon>
                </a>
                <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
                    <button mat-menu-item routerLink='/setting' (click)="drawer.toggle()">{{"menu.add_meter" | translate}} </button>
                    <button mat-menu-item routerLink='/noticication' (click)="drawer.toggle()"> {{"menu.notification" | translate}} </button>
                    <button mat-menu-item routerLink='/group' (click)="drawer.toggle()"> {{"menu.group" | translate}}</button>
                </div>
            </div>

        </mat-nav-list>
    </mat-sidenav>

    <!-- content -->
    <mat-sidenav-content>
        <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center"
            style="z-index: 9999;background-color: #FFFFFF;">
            <div fxFlex="20">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <img src="assets/logo-provider.svg" width="85" style="padding-bottom: 5px; padding-left: 24px;">
                    <button type="button" aria-label="Toggle sidenav" mat-icon-button mat-button
                        (click)="drawer.toggle()">
                        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                    </button>
                    <img src="assets/logo_user.png" width="85">
                    <!-- <img max-width="75" height="25" [src]=user_info.logo_url alt="user-logo"> -->
                </div>
            </div>
            <span class="right-spacer"></span>

            <div fxFlex="25" style="padding-right: 10px;">
                <div fxLayout="row" fxLayoutAlign="end center">
                    <!-- <button style="padding: 0 5px !important" mat-stroked-button [matMenuTriggerFor]="menu"
                        aria-label="menu">
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                            <div class="font-menu">
                                Energy Billing
                            </div>
                            <div>
                                <mat-icon style="margin-bottom: 5px">widgets</mat-icon>
                            </div>
                        </div>
                    </button> -->

                    <div class="font-menu">
                        Energy Billing
                    </div>

                    <button mat-icon-button>
                        <mat-icon style="margin-bottom: 5px">widgets</mat-icon>
                    </button>


                    <mat-divider style="height: 50px;" [vertical]="true"></mat-divider>

                    <!-- <mat-divider style="height: 50px; margin-right: 10px !important;" [vertical]="true"></mat-divider> -->

                    <div class="font-menu">
                        <button mat-icon-button [matMenuTriggerFor]="menu2">
                            <mat-icon style="margin-bottom: 5px">notifications</mat-icon>
                        </button>
                        <mat-menu #menu2="matMenu" class="noti">
                            <button mat-menu-item>
                                <mat-icon style="color: orange">report_problem</mat-icon> Room B Jul 2, 2022, 12:15 PM
                            </button>
                            <button mat-menu-item>
                                <mat-icon style="color: orange">report_problem</mat-icon> SF2-40 Jun 30, 2022, 1:45 AM
                            </button>
                            <button mat-menu-item>
                                <mat-icon style="color: orange">report_problem</mat-icon> Room F Jun 19, 2022, 5:30 PM
                            </button>
                            <button mat-menu-item style="color: blue" fxLayout="row" fxLayoutAlign="center center">
                                <u> show more </u>
                            </button>
                        </mat-menu>

                        <!-- <button style="padding: 0 0 0 0 !important" mat-icon-button> -->
                        <button mat-icon-button style="margin-left: 7px; margin-right: -15px;"
                            [matMenuTriggerFor]="profile">
                            <app-avatar-photo [size]="1" [name]="user_info.username"></app-avatar-photo>
                        </button>

                        <mat-menu #profile="matMenu">
                            <button mat-menu-item disabled>
                                <mat-icon>account_circle</mat-icon>
                                <span>Setting profile</span>
                            </button>
                            <button mat-menu-item (click)="logout()">
                                <mat-icon>logout</mat-icon>
                                <span>Log out</span>
                            </button>
                        </mat-menu>

                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon style="margin-bottom: 5px;">more_vert</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu">
                            <button *ngIf="selectFullScreen" mat-menu-item (click)="fullScreen()">
                                <mat-icon>fullscreen</mat-icon>
                                <span>{{"menu.fullscreen" | translate}}</span>
                            </button>

                            <button *ngIf="!selectFullScreen" mat-menu-item (click)="fullScreen()">
                                <mat-icon>fullscreen_exit</mat-icon>
                                <span>{{"menu.fullscreen_exit" | translate}}</span>
                            </button>
                            <div fxLayout="row" fxLayoutAlign="space-between center"
                                style="margin-left: 15px; margin-right: 15px">
                                <mat-icon style="margin-right: 16px;">language</mat-icon>
                                <mat-form-field style="font-size: 12px;  width: 100px;">
                                    <mat-select (selectionChange)="onSelectLanguage($event.value)"
                                        [(ngModel)]="selectedValue" name="language">
                                        <mat-option *ngFor="let language of Languages" [value]="language.value">
                                            <span>{{language.viewValue}}</span>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="space-between center"
                                style="margin-left: 15px; margin-right: 15px">
                                <mat-icon style="margin-right: 16px;"> brightness_medium</mat-icon>
                                <mat-form-field style="font-size: 12px;  width: 100px;">
                                    <mat-select disabled [(ngModel)]="selectedTheme">
                                        <mat-option *ngFor="let theme of Themes" [value]="theme.value">
                                            <span>{{theme.viewValue | translate}}</span>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </mat-menu>
                    </div>

                </div>
            </div>
        </mat-toolbar>
        <!-- Add Content Here -->
        <main class="flex-grow-1">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>

</mat-sidenav-container>